/* General styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e293b;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f293b;
  padding: 20px 50px;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* Hero section styles */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 50px;
  margin: 0;
}

.hero-text p {
  font-size: 1rem;
  color: #b0b0b0;
}

.signup-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #3b82f6; /* Blue button */
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.signup-button:hover {
  background-color: #2563eb; /* Darker blue */
}

.hero-image {
  width: 40%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

/*Section: Random Information */

.random-info {
  text-align: center;
  padding: 50px;
  background-color: #ffffff;
  color: #1e293b;
}

.random-info h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.info-box {
  width: 150px;
  height: 150px;
  border: 2px solid #3b82f6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  width: 150px;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
  color: #333;
}

/* Quote Section */
.quote-section {
  background-color: #f3f4f6;
  padding: 50px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

/* Call to Action */
.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b82f6;
  color: white;
  padding: 50px;
  flex-direction: column;
  margin: 40px;
  border-radius: 10px;
}

.cta-section button {
  background-color: white;
  color: #3b82f6;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero img {
    width: 80%;
    height: 150px;
    margin-top: 20px;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
  }
}
